header{
    color: rgb(156, 80, 255);
    font-family: cursive;
    text-align: center;
    
}

body{
    background: url(Z/321.jpg);
   }
   .dws-menu *{
    margin: 0;
    padding: 0;
   }
   .dws-menu ul,
.dws-menu ol{
 list-style: none;
}
   .dws-menu > ul{
    display: flex;
    justify-content: center;
   }
   .dws-menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
   }
   .dws-menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
   }
   .dws-menu > ul li:last-child{
    border-right: 1px solid #babbbd;
   }
   .dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
   }
   .dws-menu > ul li a{
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
    font-size: 20px; 
    color: #fff;
    background:linear-gradient(to left, #f12711, #f5af19, #f12711);
    padding: 15px;
    text-decoration: none;
    background-size: 200%;
    transition: .5s;
   }
   .dws-menu  ul li a:hover{
    background-position: right;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   }
   .dws-menu label.toggleMenu{
    display: none;
    background:linear-gradient(to left, #f12711, #f5af19, #f12711);
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
   }
   
   /*sub menu*/
   .dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
   }
   .dws-menu li > ul li{
    border: 1px solid #c7c8ca;
   }
   .dws-menu li > ul li a{
    padding: 15px;
    font-size: 20px; 
    color: #fff;
    background: linear-gradient(to left,rgba(0,212,255,1), rgba(14,252,0,1) , rgba(0,212,255,1));
    transition: .5s;
    background-size: 200%;
    text-decoration: none;
   }
   .dws-menu li > ul li a:hover{
       background-position: right;
    }
   .dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
   }
   .dws-menu li:hover > ul{
    display: block;
   }
   
   /*==== MEDIA ====*/
   .dws-menu [type="checkbox"],
   .dws-menu label.toggleSubmenu{
    display: none;
   }
   .dws-menu [type="radio"],
   .dws-menu label.toggleSubmenu{
    display: none;
   }
   .vupichka,
   .zakyski,
   .fa-meat,
   .salat,
   .start{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    color: rgb(255, 80, 118);
    background: linear-gradient(to left,rgba(0,212,255,1), rgba(14,252,0,1) , rgba(0,212,255,1));;
   }


   .container{
    order: -1;
    padding-top: 400px;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 10px;
    font-size: 20px;
}

.smakota:hover{
    transform: scale(1.05);
    z-index: 1;
    background-position: right;
}
.smakota{
    border-radius: 5px;
    background: linear-gradient(to left,rgba(0,212,255,1), rgba(14,252,0,1) , rgba(0,212,255,1));
    border: 1px solid black;
    height: 200px;
}

.video{
    position: relative;
    padding-left: 5px;
    padding-top: 50px;
    color: rgb(85, 255, 99);
    background: linear-gradient(to left,rgba(0,212,255,1), rgba(14,252,0,1) , rgba(0,212,255,1));
}  
   img{
    object-fit: cover;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;
}
.picture{
    display: flex;
    width: 55%;
    height: 50%;
}
   @media all and (max-width: 800px){
    .dws-menu{
        overflow: hidden;
       }
    .dws-menu ul{
     display: block;
     max-height: 0;
     transition: max-height 0.3s;
    }
    .dws-menu li>ul li ul{
    position: absolute;
     right: auto;
     top: auto;
    }
    .dws-menu label.toggleMenu{
     display: block;
    }
    input.toggleMenu:checked + label.toggleMenu{
     color: #fff;
    }
    input.toggleMenu:checked ~ ul,
    input.toggleSubmenu:checked ~ ul{
     display: block;
     max-height: 5000px;
     transition: max-height 2s ease-in;
     position: relative;
    }
    .dws-menu label.toggleSubmenu{
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
     display: block;
    position: absolute;
    }
    .dws-menu label.toggleSubmenu .fa{
        position: absolute;
        top: 15px;
        right: 30px;
       }
       img{
        object-fit: cover;
        width: 300px;
        height: 200px;
        border-radius: 5px;
        padding-left: 5px;
        padding-top: 5px;
        border-radius: 5px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .smakota{
        border-radius: 5px;
        background-color:rgb(192, 241, 172);
        border: 1px solid black;
        height: 400px;

    }
    .video{
        position: relative;
        padding-left: 15px;
        padding-top: 50px;
        color: rgb(85, 255, 99);
        background: linear-gradient(to left,rgba(0,212,255,1), rgba(14,252,0,1) , rgba(0,212,255,1));
    }
   }